/*
 * Copyright 2022 NXP
 *
 * SPDX-License-Identifier: BSD-3-Clause
 */
/dts-v1/;
#include "fsl-s32g3.dtsi"

/ {
	compatible = "fsl,s32g3xxaevb";
};

/* PMIC */
&i2c4 {
	status = "okay";
	clock-frequency=<100000>;

	vr5510@20 {
		compatible = "fsl,vr5510";
		reg = <0x20>;
		status = "okay";
	};

	vr5510_fsu@21 {
		compatible = "fsl,vr5510";
		reg = <0x21>;
		status = "okay";
	};

};

&wkpu {
	status = "okay";
};
