/*
 * Copyright 2020-2022 NXP
 *
 * SPDX-License-Identifier: BSD-3-Clause
 */

#include <dt-bindings/clock/s32g-clock.h>
#include <dt-bindings/ddr-errata/s32-ddr-errata.h>

/dts-v1/;
#include "fsl-s32g.dtsi"
/ {
	model = "NXP S32G2";
	compatible = "nxp,s32g2";
};

&mc_cgm0 {
	clocks = <&clks S32GEN1_CLK_XBAR_2X>,
		<&clks S32GEN1_CLK_SERDES_REF>,
		<&clks S32GEN1_CLK_PER>,
		<&clks S32GEN1_CLK_FTM0_REF>,
		<&clks S32GEN1_CLK_FTM1_REF>,
		<&clks S32GEN1_CLK_CAN_PE>,
		<&clks S32GEN1_CLK_LIN_BAUD>,
		<&clks S32GEN1_CLK_SPI>,
		<&clks S32GEN1_CLK_SDHC>,
		<&clks S32GEN1_CLK_QSPI_2X>;
};

&ocotp {
	compatible = "nxp,s32g-ocotp";
};

&reserved_memory {
	ddr_errata_reserved: ddr {
		reg = <0x0 DDR_ERRATA_REGION_BASE
			   0x0 DDR_ERRATA_REGION_SIZE>; /* 4 KB */
		no-map;
	};
};

&ddr_errata {
	memory-region = <&ddr_errata_reserved>;
	status = "okay";
};
