// SPDX-License-Identifier: (GPL-2.0+ OR BSD-3-Clause)
/*
 * Device Tree Include file for NXP S32CC family SoCs.
 *
 * Copyright 2019-2022 NXP
 */

#include <dt-bindings/clock/s32gen1-clock-freq.h>
#include <dt-bindings/clock/s32gen1-clock.h>
#include <dt-bindings/clock/s32gen1-scmi-clock.h>
#include <dt-bindings/interrupt-controller/arm-gic.h>
#include <dt-bindings/phy/phy.h>
#include <dt-bindings/reset/s32gen1-scmi-reset.h>
#include <dt-bindings/reset/s32gen1-wkpu.h>

/ {
	interrupt-parent = <&gic>;
	#address-cells = <2>;
	#size-cells = <2>;

	chosen {
		stdout-path = "serial0:115200n8";
		tick-timer = &pit0;
	};

	aliases {
		adc0 = &adc0;
		adc1 = &adc1;
		i2c0 = &i2c0;
		i2c1 = &i2c1;
		i2c2 = &i2c2;
		i2c3 = &i2c3;
		i2c4 = &i2c4;
		spi0 = &spi0;
		spi1 = &spi1;
		spi2 = &spi2;
		spi3 = &spi3;
		spi4 = &spi4;
		spi5 = &spi5;
		spi6 = &qspi;
		serdes0 = &serdes0;
		serdes1 = &serdes1;
		pci0 = &pcie0;
		pci1 = &pcie1;
		mmc0 = &usdhc0;
		clks = &clks;
		serial0 = &uart0;
		serial1 = &uart1;
	};

	reserved-memory {
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		scmi_shbuf: shm@d0000000 {
			compatible = "arm,scmi-shmem";
			reg = <0x0 0xd0000000 0x0 0x400000>;    /* 4 MB */
			no-map;
		};

		hse_reserved: shm@84000000 {
			compatible = "nxp,s32cc-hse-rmem";
			reg = <0x0 0x84000000 0x0 0x80000>;	/* 512k */
			no-map;
		};
	};

	firmware {
		u-boot,dm-pre-reloc;

		scmi: scmi {
			u-boot,dm-pre-reloc;
			compatible = "arm,scmi-smc";
			shmem = <&scmi_shbuf>;
			arm,smc-id = <0xc20000fe>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "okay";

			clks: protocol@14 {
				u-boot,dm-pre-reloc;

				reg = <0x14>;
				#clock-cells = <1>;
			};

			reset: protocol@16 {
				reg = <0x16>;
				#reset-cells = <1>;
			};
		};

		psci {
			compatible = "arm,psci-1.0";
			method = "smc";
		};
	};

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;
		u-boot,dm-pre-reloc;

		cpu-map {
			cluster0 {
				core0 {
					cpu = <&cpu0>;
				};

				core1 {
					cpu = <&cpu1>;
				};
			};

			cluster1 {
				core0 {
					cpu = <&cpu2>;
				};

				core1 {
					cpu = <&cpu3>;
				};
			};
		};

		cpu0: cpu@0 {
			device_type = "cpu";
			compatible = "arm,cortex-a53";
			reg = <0x0>;
			enable-method = "psci";
			next-level-cache = <&cluster0_l2_cache>;

			nvmem-cells = <&soc_letter>, <&part_no>,
			    <&soc_major>, <&soc_minor>, <&soc_subminor>;
			nvmem-cell-names = "soc_letter", "part_no",
			    "soc_major", "soc_minor", "soc_subminor";
			u-boot,dm-pre-reloc;
		};

		cpu1: cpu@1 {
			device_type = "cpu";
			compatible = "arm,cortex-a53";
			reg = <0x1>;
			enable-method = "psci";
			next-level-cache = <&cluster0_l2_cache>;

			nvmem-cells = <&soc_letter>, <&part_no>,
			    <&soc_major>, <&soc_minor>, <&soc_subminor>;
			nvmem-cell-names = "soc_letter", "part_no",
			    "soc_major", "soc_minor", "soc_subminor";
		};

		cpu2: cpu@100 {
			device_type = "cpu";
			compatible = "arm,cortex-a53";
			reg = <0x100>;
			enable-method = "psci";
			next-level-cache = <&cluster1_l2_cache>;

			nvmem-cells = <&soc_letter>, <&part_no>,
			    <&soc_major>, <&soc_minor>, <&soc_subminor>;
			nvmem-cell-names = "soc_letter", "part_no",
			    "soc_major", "soc_minor", "soc_subminor";
		};

		cpu3: cpu@101 {
			device_type = "cpu";
			compatible = "arm,cortex-a53";
			reg = <0x101>;
			enable-method = "psci";
			next-level-cache = <&cluster1_l2_cache>;

			nvmem-cells = <&soc_letter>, <&part_no>,
			    <&soc_major>, <&soc_minor>, <&soc_subminor>;
			nvmem-cell-names = "soc_letter", "part_no",
			    "soc_major", "soc_minor", "soc_subminor";
		};

		cluster0_l2_cache: l2-cache0 {
			compatible = "cache";
			status = "okay";
		};

		cluster1_l2_cache: l2-cache1 {
			compatible = "cache";
			status = "okay";
		};
	};

	clocks {
		firc: firc {
			compatible = "fixed-clock";
			clock-frequency = <51000000>;
			#clock-cells = <1>;
		};

		sirc: sirc {
			compatible = "fixed-clock";
			clock-frequency = <32000>;
			#clock-cells = <1>;
		};

		ftm0_ext: ftm0_ext {
			compatible = "fixed-clock";
			clock-frequency = <20000000>;
			#clock-cells = <1>;
		};

		ftm1_ext: ftm1_ext {
			compatible = "fixed-clock";
			clock-frequency = <20000000>;
			#clock-cells = <1>;
		};

		gmac0_ext_rx: gmac0_ext_rx {
			compatible = "fixed-clock";
			clock-frequency = <25000000>;
			#clock-cells = <1>;
		};

		gmac0_ext_tx: gmac0_ext_tx {
			compatible = "fixed-clock";
			clock-frequency = <125000000>;
			#clock-cells = <1>;
		};

		gmac0_ext_ref: gmac0_ext_ref {
			compatible = "fixed-clock";
			clock-frequency = <50000000>;
			#clock-cells = <1>;
		};

		gmac0_ext_ts: gmac0_ext_ts {
			compatible = "fixed-clock";
			clock-frequency = <200000000>;
			#clock-cells = <1>;
		};

		serdes_100_ext: serdes_100_ext {
			compatible = "fixed-clock";
			clock-frequency = <100000000>;
			#clock-cells = <0>;
		};

		serdes_125_ext: serdes_125_ext {
			compatible = "fixed-clock";
			clock-frequency = <125000000>;
			#clock-cells = <0>;
		};

		serdes0_lane0_ext_cdr: serdes0_lane0_ext_cdr {
			compatible = "fixed-clock";
			clock-frequency = <125000000>;
			#clock-cells = <1>;
		};

		serdes0_lane0_ext_tx: serdes0_lane0_ext_tx {
			compatible = "fixed-clock";
			clock-frequency = <125000000>;
			#clock-cells = <1>;
		};

		serdes0_lane1_ext_cdr: serdes0_lane1_ext_cdr {
			compatible = "fixed-clock";
			clock-frequency = <125000000>;
			#clock-cells = <1>;
		};

		serdes0_lane1_ext_tx: serdes0_lane1_ext_tx {
			compatible = "fixed-clock";
			clock-frequency = <125000000>;
			#clock-cells = <1>;
		};

		serdes1_lane0_ext_cdr: serdes1_lane0_ext_cdr {
			compatible = "fixed-clock";
			clock-frequency = <125000000>;
			#clock-cells = <1>;
		};

		serdes1_lane0_ext_tx: serdes1_lane0_ext_tx {
			compatible = "fixed-clock";
			clock-frequency = <125000000>;
			#clock-cells = <1>;
		};

		serdes1_lane1_ext_cdr: serdes1_lane1_ext_cdr {
			compatible = "fixed-clock";
			clock-frequency = <125000000>;
			#clock-cells = <1>;
		};

		serdes1_lane1_ext_tx: serdes1_lane1_ext_tx {
			compatible = "fixed-clock";
			clock-frequency = <125000000>;
			#clock-cells = <1>;
		};

		plat_clks: plat_clks {
			compatible = "nxp,s32cc-clocking";
			#address-cells = <2>;
			#size-cells = <2>;
			#clock-cells = <1>;
			status = "okay";

			assigned-clocks =
				<&plat_clks S32GEN1_CLK_FXOSC>,
				<&plat_clks S32GEN1_CLK_FIRC>,
				<&plat_clks S32GEN1_CLK_SIRC>,
				<&plat_clks S32GEN1_CLK_GMAC0_EXT_RX>,
				<&plat_clks S32GEN1_CLK_SERDES0_LANE0_TX>,
				<&plat_clks S32GEN1_CLK_SERDES0_LANE0_CDR>,
				<&plat_clks S32GEN1_CLK_SERDES_REF>;
			assigned-clock-parents =
				<&fxosc 0>,
				<&firc 0>,
				<&sirc 0>,
				<&gmac0_ext_rx 0>,
				<&serdes0_lane0_ext_tx 0>,
				<&serdes0_lane0_ext_cdr 0>;
			assigned-clock-rates =
				<0>, <0>, <0>, <0>,
				<0>, <0>, <100000000>;
		};
	};

	pmu {
		compatible = "arm,cortex-a53-pmu";
		interrupts = <GIC_PPI 7 IRQ_TYPE_LEVEL_HIGH>;
	};

	generic_timer: timer {
		compatible = "arm,armv8-timer";
		interrupts = <GIC_PPI 13 IRQ_TYPE_LEVEL_LOW>,
			     <GIC_PPI 14 IRQ_TYPE_LEVEL_LOW>,
			     <GIC_PPI 11 IRQ_TYPE_LEVEL_LOW>,
			     <GIC_PPI 10 IRQ_TYPE_LEVEL_LOW>;
	};

	soc {
		compatible = "simple-bus";
		#address-cells = <2>;
		#size-cells = <2>;
		ranges = <0x0 0x0 0x0 0x0 0x0 0x20000000>,
			 <0x0 0x22C00000 0x0 0x22C00000 0x0 0x4000>,
			 <0x0 0x40000000 0x0 0x40000000 0x0 0x14000000>,
			 <0x48 0x0 0x48 0x0 0x8 0x0>,
			 <0x58 0x0 0x58 0x0 0x8 0x0>;

		mc_cgm0: mc_cgm0@40030000 {
			compatible = "nxp,s32cc-mc_cgm0";
			reg = <0x0 0x40030000 0x0 0x3000>;

			assigned-clocks =
				<&plat_clks S32GEN1_CLK_MC_CGM0_MUX0>,
				<&plat_clks S32GEN1_CLK_MC_CGM0_MUX3>,
				<&plat_clks S32GEN1_CLK_MC_CGM0_MUX4>,
				<&plat_clks S32GEN1_CLK_MC_CGM0_MUX5>,
				<&plat_clks S32GEN1_CLK_MC_CGM0_MUX7>,
				<&plat_clks S32GEN1_CLK_MC_CGM0_MUX8>,
				<&plat_clks S32GEN1_CLK_MC_CGM0_MUX9>,
				<&plat_clks S32GEN1_CLK_MC_CGM0_MUX10>,
				<&plat_clks S32GEN1_CLK_MC_CGM0_MUX12>,
				<&plat_clks S32GEN1_CLK_MC_CGM0_MUX14>,
				<&plat_clks S32GEN1_CLK_MC_CGM0_MUX16>,
				<&plat_clks S32GEN1_CLK_XBAR_2X>,
				<&plat_clks S32GEN1_CLK_PER>,
				<&plat_clks S32GEN1_CLK_FTM0_REF>,
				<&plat_clks S32GEN1_CLK_FTM1_REF>,
				<&plat_clks S32GEN1_CLK_CAN_PE>,
				<&plat_clks S32GEN1_CLK_LIN_BAUD>,
				<&plat_clks S32GEN1_CLK_GMAC0_TS>,
				<&plat_clks S32GEN1_CLK_SPI>,
				<&plat_clks S32GEN1_CLK_SDHC>,
				<&plat_clks S32GEN1_CLK_QSPI_2X>;
			assigned-clock-parents =
				<&plat_clks S32GEN1_CLK_ARM_PLL_DFS1>,
				<&plat_clks S32GEN1_CLK_PERIPH_PLL_PHI1>,
				<&plat_clks S32GEN1_CLK_PERIPH_PLL_PHI1>,
				<&plat_clks S32GEN1_CLK_PERIPH_PLL_PHI1>,
				<&plat_clks S32GEN1_CLK_PERIPH_PLL_PHI2>,
				<&plat_clks S32GEN1_CLK_PERIPH_PLL_PHI3>,
				<&plat_clks S32GEN1_CLK_PERIPH_PLL_PHI4>,
				<&plat_clks S32GEN1_CLK_PERIPH_PLL_PHI5>,
				<&plat_clks S32GEN1_CLK_PERIPH_PLL_DFS1>,
				<&plat_clks S32GEN1_CLK_PERIPH_PLL_DFS3>,
				<&plat_clks S32GEN1_CLK_PERIPH_PLL_PHI7>;
			assigned-clock-rates =
				<0>,
				<0>,
				<0>,
				<0>,
				<0>,
				<0>,
				<0>,
				<0>,
				<0>,
				<0>,
				<0>,
				<0>,
				<80000000>,
				<40000000>,
				<40000000>,
				<80000000>,
				<125000000>,
				<200000000>,
				<100000000>,
				<400000000>,
				<S32GEN1_QSPI_2X_CLK_FREQ>;
		};

		mc_cgm1: mc_cgm1@40034000 {
			compatible = "nxp,s32cc-mc_cgm1";
			reg = <0x0 0x40034000 0x0 0x3000>;

			assigned-clocks =
				<&plat_clks S32GEN1_CLK_MC_CGM1_MUX0>,
				<&plat_clks S32GEN1_CLK_A53_CORE>;
			assigned-clock-parents =
				<&plat_clks S32GEN1_CLK_ARM_PLL_PHI0>,
				<0>;
		};

		armpll: armpll@40038000 {
			compatible = "nxp,s32cc-armpll";
			reg = <0x0 0x40038000 0x0 0x3000>;

			assigned-clocks =
				<&plat_clks S32GEN1_CLK_ARM_PLL_MUX>,
				<&plat_clks S32GEN1_CLK_ARM_PLL_VCO>,
				<&plat_clks S32GEN1_CLK_ARM_PLL_PHI0>;
			assigned-clock-parents =
				<&plat_clks S32GEN1_CLK_FXOSC>;
		};

		periphpll: periphpll@4003c000 {
			compatible = "nxp,s32cc-periphpll";
			reg = <0x0 0x4003c000 0x0 0x3000>;

			assigned-clocks =
				<&plat_clks S32GEN1_CLK_PERIPH_PLL_MUX>,
				<&plat_clks S32GEN1_CLK_PERIPH_PLL_VCO>,
				<&plat_clks S32GEN1_CLK_PERIPH_PLL_PHI0>,
				<&plat_clks S32GEN1_CLK_PERIPH_PLL_PHI1>,
				<&plat_clks S32GEN1_CLK_PERIPH_PLL_PHI2>,
				<&plat_clks S32GEN1_CLK_PERIPH_PLL_PHI3>,
				<&plat_clks S32GEN1_CLK_PERIPH_PLL_PHI4>,
				<&plat_clks S32GEN1_CLK_PERIPH_PLL_PHI5>,
				<&plat_clks S32GEN1_CLK_PERIPH_PLL_PHI7>;
			assigned-clock-parents =
				<&plat_clks S32GEN1_CLK_FXOSC>;
			assigned-clock-rates =
				<0>,
				<S32GEN1_PERIPH_PLL_VCO_FREQ>, <100000000>,
				<80000000>, <80000000>,
				<125000000>, <200000000>,
				<125000000>, <100000000>;
		};

		accelpll: accelpll@40040000 {
			compatible = "nxp,s32cc-accelpll";
			reg = <0x0 0x40040000 0x0 0x3000>;
		};

		ddrpll: ddrpll@40044000 {
			compatible = "nxp,s32cc-ddrpll";
			reg = <0x0 0x40044000 0x0 0x3000>;
		};

		fxosc: fxosc@40050000 {
			compatible = "fixed-clock", "nxp,s32cc-fxosc";
			reg = <0x0 0x40050000 0x0 0x3000>;
			clock-frequency = <S32GEN1_FXOSC_FREQ>;
			#clock-cells = <1>;
		};

		armdfs: armdfs@40054000 {
			compatible = "nxp,s32cc-armdfs";
			reg = <0x0 0x40054000 0x0 0x3000>;

			assigned-clocks =
				<&plat_clks S32GEN1_CLK_ARM_PLL_DFS1>,
				<&plat_clks S32GEN1_CLK_ARM_PLL_DFS2>;
			assigned-clock-rates =
				<0>,
				<800000000>;
		};

		periphdfs: periphdfs@40058000 {
			compatible = "nxp,s32cc-periphdfs";
			reg = <0x0 0x40058000 0x0 0x3000>;

			assigned-clocks =
				<&plat_clks S32GEN1_CLK_PERIPH_PLL_DFS1>,
				<&plat_clks S32GEN1_CLK_PERIPH_PLL_DFS3>;
			assigned-clock-rates =
				<S32GEN1_PERIPH_DFS1_FREQ>,
				<S32GEN1_PERIPH_DFS3_FREQ>;
		};

		cmu: cmu@4005c000 {
			reg = <0x0 0x4005c000 0x0 0x1000>;
			clocks = <&clks S32GEN1_SCMI_CLK_CMU_MODULE>,
				 <&clks S32GEN1_SCMI_CLK_CMU_REG>;
		};

		mc_cgm5: mc_cgm5@40068000 {
			compatible = "nxp,s32cc-mc_cgm5";
			reg = <0x0 0x40068000 0x0 0x3000>;

			assigned-clocks =
				<&plat_clks S32GEN1_CLK_MC_CGM5_MUX0>,
				<&plat_clks S32GEN1_CLK_DDR>;
			assigned-clock-parents =
				<&plat_clks S32GEN1_CLK_DDR_PLL_PHI0>,
				<0>;
			assigned-clock-rates =
				<0>,
				<S32GEN1_DDR_FREQ>;
		};

		rgm: rgm@40078000 {
			compatible = "nxp,s32cc-rgm";
			reg = <0x0 0x40078000 0x0 0x3000>;
		};

		a53_gpr@4007c400 {
			u-boot,dm-pre-reloc;
			compatible = "nxp,s32cc-a53-gpr";
			reg = <0x0 0x4007c400 0x0 0x100>;
			status = "okay";
		};

		mc_me: mc_me@40088000 {
			compatible = "nxp,s32cc-mc_me";
			reg = <0x0 0x40088000 0x0 0x3000>;
		};

		wkpu: wkpu@40090000 {
			compatible = "nxp,s32cc-wkpu";
			reg = <0x0 0x40090000 0x0 0x10000>, /* WKPU */
			      <0x0 0x4007cb04 0x0 0x4>; /* S32G_STDBY_GPR */
			/*
			 * Enable RTC as wake-up source
			 */
			nxp,irqs = <S32GEN1_WKPU_RTC_IRQ
				    S32GEN1_WKPU_IRQ_RISING
				    S32GEN1_WKPU_PULL_DIS>;

			nxp,warm-boot = <S32GEN1_WKPU_LONG_BOOT>;

			status = "disabled";
		};

		ocotp: ocotp@400a4000 {
			reg = <0x0 0x400a4000 0x0 0x400>;
			status = "okay";
		};

		qspi: spi@40134000 {
			compatible = "nxp,s32cc-qspi";
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0x0 0x40134000 0x0 0x1000>,
			      <0x0 0x00000000 0x0 0x20000000>;
			reg-names = "QuadSPI", "QuadSPI-memory";
			clock-names = "qspi_en", "qspi";
			clocks = <&clks S32GEN1_SCMI_CLK_QSPI_FLASH1X>,
				 <&clks S32GEN1_SCMI_CLK_QSPI_FLASH1X>;
			spi-max-frequency = <200000000>;
			// For U-Boot 2020.04 only
			num-cs = <2>;
			spi-num-chipselects = <2>;
			status = "disabled";
		};

		pit0: pit@40188000 {
			compatible = "nxp,s32cc-pit";
			reg = <0x0 0x40188000 0x0 0x3000>;
			interrupts = <GIC_SPI 53 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&clks S32GEN1_SCMI_CLK_PIT_MODULE>;
			clock-names = "pit";
			status = "okay";
		};

		uart0: serial@401c8000 {
			compatible = "nxp,s32cc-linflexuart", "fsl,s32v234-linflexuart";
			reg = <0x0 0x401c8000 0x0 0x3000>;
			interrupts = <GIC_SPI 82 IRQ_TYPE_EDGE_RISING>;
			clocks = <&clks S32GEN1_SCMI_CLK_LINFLEX_LIN>,
				 <&clks S32GEN1_SCMI_CLK_LINFLEX_XBAR>;
			clock-names = "lin", "ipg";
		};

		uart1: serial@401cc000 {
			compatible = "nxp,s32cc-linflexuart", "fsl,s32v234-linflexuart";
			reg = <0x0 0x401cc000 0x0 0x3000>;
			interrupts = <GIC_SPI 83 IRQ_TYPE_EDGE_RISING>;
			clocks = <&clks S32GEN1_SCMI_CLK_LINFLEX_LIN>,
				 <&clks S32GEN1_SCMI_CLK_LINFLEX_XBAR>;
			clock-names = "lin", "ipg";
		};

		spi0: spi@401d4000 {
			compatible = "nxp,s32cc-dspi";
			reg = <0x0 0x401d4000 0x0 0x1000>;
			clocks = <&clks S32GEN1_SCMI_CLK_SPI_MODULE>;
			clock-names = "dspi";
			spi-num-chipselects = <8>;
			bus-num = <0>;
			spi-fifo-size = <5>;
			spi-cpol;
			spi-cpha;
			// For U-Boot 2020.04 only
			num-cs = <8>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		spi1: spi@401d8000 {
			compatible = "nxp,s32cc-dspi";
			reg = <0x0 0x401d8000 0x0 0x1000>;
			clocks = <&clks S32GEN1_SCMI_CLK_SPI_MODULE>;
			clock-names = "dspi";
			spi-num-chipselects = <5>;
			bus-num = <1>;
			spi-fifo-size = <5>;
			spi-cpol;
			spi-cpha;
			// For U-Boot 2020.04 only
			num-cs = <5>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		spi2: spi@401dc000 {
			compatible = "nxp,s32cc-dspi";
			reg = <0x0 0x401dc000 0x0 0x1000>;
			clocks = <&clks S32GEN1_SCMI_CLK_SPI_MODULE>;
			clock-names = "dspi";
			spi-num-chipselects = <5>;
			bus-num = <2>;
			spi-fifo-size = <5>;
			spi-cpol;
			spi-cpha;
			// For U-Boot 2020.04 only
			num-cs = <5>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		i2c0: i2c@401e4000 {
			compatible = "nxp,s32cc-i2c";
			reg = <0x0 0x401e4000 0x0 0x1000>;
			clocks = <&clks S32GEN1_SCMI_CLK_I2C_REG>;
			clock-names = "ipg";
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		i2c1: i2c@401e8000 {
			compatible = "nxp,s32cc-i2c";
			reg = <0x0 0x401e8000 0x0 0x1000>;
			clocks = <&clks S32GEN1_SCMI_CLK_I2C_REG>;
			clock-names = "ipg";
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		i2c2: i2c@401ec000 {
			compatible = "nxp,s32cc-i2c";
			reg = <0x0 0x401ec000 0x0 0x1000>;
			clocks = <&clks S32GEN1_SCMI_CLK_I2C_REG>;
			clock-names = "ipg";
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		adc0: adc@401f8000 {
			compatible = "nxp,s32cc-adc";
			reg = <0x0 0x401f8000 0x0 0x1000>;
			interrupts = <GIC_SPI 70 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&clks S32GEN1_SCMI_CLK_SAR_ADC_BUS>;
			clock-names = "adc";
			status = "okay";
		};

		pit1: pit@40288000 {
			compatible = "nxp,s32cc-pit";
			reg = <0x0 0x40288000 0x0 0x3000>;
			interrupts = <GIC_SPI 54 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&clks S32GEN1_SCMI_CLK_PIT_MODULE>;
			clock-names = "pit";
			status = "okay";
		};

		uart2: serial@402bc000 {
			compatible = "nxp,s32cc-linflexuart", "fsl,s32v234-linflexuart";
			reg = <0x0 0x402bc000 0x0 0x3000>;
			interrupts = <GIC_SPI 84 IRQ_TYPE_EDGE_RISING>;
			clocks = <&clks S32GEN1_SCMI_CLK_LINFLEX_LIN>,
				 <&clks S32GEN1_SCMI_CLK_LINFLEX_XBAR>;
			clock-names = "lin", "ipg";
		};

		spi3: spi@402c8000 {
			compatible = "nxp,s32cc-dspi";
			reg = <0x0 0x402c8000 0x0 0x1000>;
			clocks = <&clks S32GEN1_SCMI_CLK_SPI_MODULE>;
			clock-names = "dspi";
			spi-num-chipselects = <5>;
			bus-num = <3>;
			spi-fifo-size = <5>;
			spi-cpol;
			spi-cpha;
			// For U-Boot 2020.04 only
			num-cs = <5>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		spi4: spi@402cc000 {
			compatible = "nxp,s32cc-dspi";
			reg = <0x0 0x402cc000 0x0 0x1000>;
			clocks = <&clks S32GEN1_SCMI_CLK_SPI_MODULE>;
			clock-names = "dspi";
			spi-num-chipselects = <5>;
			bus-num = <4>;
			spi-fifo-size = <5>;
			spi-cpol;
			spi-cpha;
			// For U-Boot 2020.04 only
			num-cs = <5>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		spi5: spi@402d0000 {
			compatible = "nxp,s32cc-dspi";
			reg = <0x0 0x402d0000 0x0 0x1000>;
			clocks = <&clks S32GEN1_SCMI_CLK_SPI_MODULE>;
			clock-names = "dspi";
			spi-num-chipselects = <5>;
			bus-num = <5>;
			spi-fifo-size = <5>;
			spi-cpol;
			spi-cpha;
			// For U-Boot 2020.04 only
			num-cs = <5>;
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		i2c3: i2c@402d8000 {
			compatible = "nxp,s32cc-i2c";
			reg = <0x0 0x402d8000 0x0 0x1000>;
			clocks = <&clks S32GEN1_SCMI_CLK_I2C_REG>;
			clock-names = "ipg";
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		i2c4: i2c@402dc000 {
			compatible = "nxp,s32cc-i2c";
			reg = <0x0 0x402dc000 0x0 0x1000>;
			clocks = <&clks S32GEN1_SCMI_CLK_I2C_REG>;
			clock-names = "ipg";
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		adc1: adc@402e8000 {
			compatible = "nxp,s32cc-adc";
			reg = <0x0 0x402e8000 0x0 0x1000>;
			interrupts = <GIC_SPI 71 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&clks S32GEN1_SCMI_CLK_SAR_ADC_BUS>;
			clock-names = "adc";
			status = "okay";
		};

		usdhc0: usdhc@402f0000 {
			compatible = "nxp,s32cc-usdhc", "nxp,s32g2-usdhc";
			reg = <0x0 0x402f0000 0x0 0x1000>;
			interrupts = <GIC_SPI 36 IRQ_TYPE_LEVEL_HIGH>;
			clocks = <&clks S32GEN1_SCMI_CLK_USDHC_MODULE>,
				 <&clks S32GEN1_SCMI_CLK_USDHC_AHB>,
				 <&clks S32GEN1_SCMI_CLK_USDHC_CORE>;
			clock-names = "ipg", "ahb", "per";
			bus-width = <8>;
			clock-frequency = <0>;	/* updated dynamically if 0 */
			/* The property name is misleading. Actually means DDR52 is
			 * supported at both 1.8V and 3.3V
			 */
			mmc-ddr-1_8v;
			status = "disabled";
		};

		gmac0: ethernet@4033c000 {
			compatible = "nxp,s32cc-dwmac";
			reg = <0x0 0x4033c000 0x0 0x2000>, /* gmac IP */
			      <0x0 0x4007c004 0x0 0x4>;    /* S32 CTRL_STS reg */
			interrupt-parent = <&gic>;
			interrupts = <GIC_SPI 57 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-names = "macirq";
			tx-fifo-depth = <20480>;
			rx-fifo-depth = <20480>;
			status = "disabled";
			phy-names = "gmac_xpcs";
			phys = <&serdes0 PHY_TYPE_XPCS 0 0>;
			dma-coherent;
			clocks = <&clks S32GEN1_SCMI_CLK_GMAC0_AXI>,
				 <&clks S32GEN1_SCMI_CLK_GMAC0_AXI>,
				 <&clks S32GEN1_SCMI_CLK_GMAC0_TX_SGMII>,
				 <&clks S32GEN1_SCMI_CLK_GMAC0_TX_RGMII>,
				 <&clks S32GEN1_SCMI_CLK_GMAC0_TX_RMII>,
				 <&clks S32GEN1_SCMI_CLK_GMAC0_TX_MII>,
				 <&clks S32GEN1_SCMI_CLK_GMAC0_RX_SGMII>,
				 <&clks S32GEN1_SCMI_CLK_GMAC0_RX_RGMII>,
				 <&clks S32GEN1_SCMI_CLK_GMAC0_RX_RMII>,
				 <&clks S32GEN1_SCMI_CLK_GMAC0_RX_MII>,
				 <&clks S32GEN1_SCMI_CLK_GMAC0_TS>;
			clock-names = "stmmaceth", "pclk",
				      "tx_sgmii", "tx_rgmii",
				      "tx_rmii", "tx_mii",
				      "rx_sgmii", "rx_rgmii",
				      "rx_rmii", "rx_mii",
				      "ptp_ref";
			gmac0_mdio: mdio0 {
				compatible = "snps,dwmac-mdio";
				#address-cells = <1>;
				#size-cells = <0>;
			};
		};

		ddr_errata: ddr_errata@403c0000 {
			compatible = "nxp,s32cc-ddr";
			reg = <0x0 0x403c0000 0x0 0x100>;
			status = "disabled";
		};

		pcie0: pcie@40400000 {
			compatible = "nxp,s32cc-pcie";
			reg = <0x00 0x40400000 0x0 0x00001000   /* dbi registers */
			       /* RC configuration space, 4KB each for cfg0 and cfg1
				* at the end of the outbound memory map
				*/
			       0x5f 0xffffe000 0x0 0x00002000>;
			reg-names = "dbi", "config";
			#address-cells = <3>;
			#size-cells = <2>;
			serdes-handle = <&serdes0>;

			ranges =
				/* downstream I/O, 64KB and aligned naturally just
				 * before the config space to minimize fragmentation
				 */
				<0x81000000 0x0 0x00000000 0x5f 0xfffe0000 0x0 0x00010000
				/* non-prefetchable memory, with best case size and
				 * alignment
				 */
				 0x82000000 0x0 0x00000000 0x58 0x00000000 0x7 0xfffe0000>;
			num-lanes = <2>;
			max-link-speed = <3>;
			bus-range = <0x0 0xff>;

			nvmem-cell-names = "serdes_presence", "pcie_variant";
			nvmem-cells = <&serdes_presence>, <&pcie_dev_id>;
			status = "disabled";
		};

		serdes0: serdes@40480000 {
			#phy-cells = <3>;
			compatible = "nxp,s32cc-serdes";
			clocks = <&clks S32GEN1_SCMI_CLK_SERDES_AXI>,
				 <&clks S32GEN1_SCMI_CLK_SERDES_AUX>,
				 <&clks S32GEN1_SCMI_CLK_SERDES_APB>,
				 <&clks S32GEN1_SCMI_CLK_SERDES_REF>;
			clock-names = "axi", "aux", "apb", "ref";
			#address-cells = <3>;
			#size-cells = <2>;
			num-lanes = <2>; /* supports max 2 lanes */
			resets = <&reset S32GEN1_SCMI_RST_SERDES0>,
				 <&reset S32GEN1_SCMI_RST_PCIE0>;
			reset-names = "serdes", "pcie";
			reg = <0x0 0x40480000 0x0 0x108>,
			      <0x0 0x40483008 0x0 0x10>,
			      <0x0 0x40482000 0x0 0x800>,
			      <0x0 0x40482800 0x0 0x800>;
			reg-names = "ss_pcie", "pcie_phy", "xpcs0", "xpcs1";
		};

		rdc: rdc@40080000 {
			compatible = "nxp,s32cc-rdc";
			reg = <0x0 0x40080000 0x0 0x3000>;
		};

		pcie1: pcie@44100000 {
			compatible = "nxp,s32cc-pcie";
			reg = <0x00 0x44100000 0x0 0x00001000   /* dbi registers */
				/* configuration space, 4KB each for cfg0 and cfg1
				 * at the end of the outbound memory map
				 */
				0x4f 0xffffe000 0x0 0x00002000>;
			reg-names = "dbi", "config";
			#address-cells = <3>;
			#size-cells = <2>;
			serdes-handle = <&serdes1>;
			ranges =
				/* downstream I/O, 64KB and aligned naturally just
				 * before the config space to minimize fragmentation
				 */
				<0x81000000 0x0 0x00000000 0x4f 0xfffe0000 0x0 0x00010000
				/* non-prefetchable memory, with best case size and
				 * alignment
				 */
				 0x82000000 0x0 0x00000000 0x48 0x00000000 0x7 0xfffe0000>;
			num-lanes = <1>;
			max-link-speed = <3>;
			bus-range = <0x0 0xff>;

			nvmem-cell-names = "serdes_presence", "pcie_variant";
			nvmem-cells = <&serdes_presence>, <&pcie_dev_id>;

			status = "okay";
		};

		serdes1: serdes@44180000 {
			#phy-cells = <3>;
			compatible = "nxp,s32cc-serdes";
			clocks = <&clks S32GEN1_SCMI_CLK_SERDES_AXI>,
				 <&clks S32GEN1_SCMI_CLK_SERDES_AUX>,
				 <&clks S32GEN1_SCMI_CLK_SERDES_APB>,
				 <&clks S32GEN1_SCMI_CLK_SERDES_REF>;
			clock-names = "axi", "aux", "apb", "ref";
			#address-cells = <3>;
			#size-cells = <2>;
			num-lanes = <1>; /* supports 1 lane */
			resets = <&reset S32GEN1_SCMI_RST_SERDES1>,
				 <&reset S32GEN1_SCMI_RST_PCIE1>;
			reset-names = "serdes", "pcie";
			reg = <0x0 0x44180000 0x0 0x108>,
			      <0x0 0x44183008 0x0 0x10>,
			      <0x0 0x44182000 0x0 0x800>,
			      <0x0 0x44182800 0x0 0x800>;
			reg-names = "ss_pcie", "pcie_phy", "xpcs0", "xpcs1";
			status = "okay";
		};

		gic: interrupt-controller@50800000 {
			compatible = "arm,gic-v3";
			#interrupt-cells = <3>;
			#address-cells = <2>;
			#size-cells = <2>;
			interrupt-controller;
			reg = <0 0x50800000 0 0x10000>, /* GIC Dist */
			      <0 0x50880000 0 0x80000>, /* GICR (RD_base + SGI_base) */
			      <0 0x50400000 0 0x2000>, /* GICC */
			      <0 0x50410000 0 0x2000>, /* GICH */
			      <0 0x50420000 0 0x2000>; /* GICV */
			interrupts = <GIC_PPI 9 IRQ_TYPE_LEVEL_HIGH>;
		};
	};
};

