/*
 * Copyright 2021-2022 NXP
 *
 * SPDX-License-Identifier: BSD-3-Clause
 */

/* PMIC */
&i2c4 {
	status = "okay";
	clock-frequency=<100000>;

	vr5510@20 {
		compatible = "nxp,vr5510";
		reg = <0x20>;
		status = "okay";
	};

	vr5510_fsu@21 {
		compatible = "nxp,vr5510";
		reg = <0x21>;
		status = "okay";
	};

};

&wkpu {
	status = "okay";
};
