// SPDX-License-Identifier: (GPL-2.0+ OR BSD-3-Clause)
/*
 * Copyright 2021-2022 NXP
 */
#include <dt-bindings/clock/s32g3-clock.h>

/delete-node/ &gic;
/ {
	model = "NXP S32G3XX";
	compatible = "nxp,s32g3";

	mem1: memory@80000000 {
		device_type = "memory";
		reg = <0 0x80000000 0 0x80000000>;
	};

	mem2: memory@880000000 {
		device_type = "memory";
		reg = <0x8 0x80000000 0 0x80000000>;
	};

	cpus {
		cpu-map {
			cluster0 {
				core2 {
					cpu = <&cpu4>;
				};

				core3 {
					cpu = <&cpu5>;
				};
			};

			cluster1 {
				core2 {
					cpu = <&cpu6>;
				};

				core3 {
					cpu = <&cpu7>;
				};
			};
		};

		cpu4: cpu@2 {
			device_type = "cpu";
			compatible = "arm,cortex-a53";
			reg = <0x2>;
			enable-method = "psci";
			next-level-cache = <&cluster0_l2_cache>;

			nvmem-cells = <&soc_letter>, <&part_no>,
			    <&soc_major>, <&soc_minor>, <&soc_subminor>;
			nvmem-cell-names = "soc_letter", "part_no",
			    "soc_major", "soc_minor", "soc_subminor";
		};

		cpu5: cpu@3 {
			device_type = "cpu";
			compatible = "arm,cortex-a53";
			reg = <0x3>;
			enable-method = "psci";
			next-level-cache = <&cluster0_l2_cache>;

			nvmem-cells = <&soc_letter>, <&part_no>,
			    <&soc_major>, <&soc_minor>, <&soc_subminor>;
			nvmem-cell-names = "soc_letter", "part_no",
			    "soc_major", "soc_minor", "soc_subminor";
		};

		cpu6: cpu@102 {
			device_type = "cpu";
			compatible = "arm,cortex-a53";
			reg = <0x102>;
			enable-method = "psci";
			next-level-cache = <&cluster1_l2_cache>;

			nvmem-cells = <&soc_letter>, <&part_no>,
			    <&soc_major>, <&soc_minor>, <&soc_subminor>;
			nvmem-cell-names = "soc_letter", "part_no",
			    "soc_major", "soc_minor", "soc_subminor";
		};

		cpu7: cpu@103 {
			device_type = "cpu";
			compatible = "arm,cortex-a53";
			reg = <0x103>;
			enable-method = "psci";
			next-level-cache = <&cluster1_l2_cache>;

			nvmem-cells = <&soc_letter>, <&part_no>,
			    <&soc_major>, <&soc_minor>, <&soc_subminor>;
			nvmem-cell-names = "soc_letter", "part_no",
			    "soc_major", "soc_minor", "soc_subminor";
		};
	};

	soc {
		mc_cgm6: mc_cgm0@4053c000 {
			compatible = "nxp,s32cc-mc_cgm6";
			reg = <0x0 0x4053c000 0x0 0x3000>;

			assigned-clocks =
				<&plat_clks S32G_CLK_MC_CGM6_MUX0>,
				<&plat_clks S32G_CLK_MC_CGM6_MUX1>,
				<&plat_clks S32G_CLK_MC_CGM6_MUX2>,
				<&plat_clks S32GEN1_CLK_GMAC0_TS>;
			assigned-clock-parents =
				<&plat_clks S32GEN1_CLK_PERIPH_PLL_PHI4>,
				<&plat_clks S32GEN1_CLK_PERIPH_PLL_PHI5>,
				<&plat_clks S32GEN1_CLK_GMAC0_EXT_RX>;
			assigned-clock-rates =
				<0>,
				<0>,
				<0>,
				<200000000>;
		};

		gic: interrupt-controller@50800000 {
			compatible = "arm,gic-v3";
			#interrupt-cells = <3>;
			#address-cells = <2>;
			#size-cells = <2>;
			interrupt-controller;
			reg = <0 0x50800000 0 0x10000>, /* GIC Dist */
			      <0 0x50900000 0 0x200000>, /* GICR (RD_base + SGI_base) */
			      <0 0x50400000 0 0x2000>, /* GICC */
			      <0 0x50410000 0 0x2000>, /* GICH */
			      <0 0x50420000 0 0x2000>; /* GICV */
			interrupts = <GIC_PPI 9 IRQ_TYPE_LEVEL_HIGH>;
		};
	};
};

&mc_cgm0 {
	assigned-clocks =
		<&plat_clks S32GEN1_CLK_MC_CGM0_MUX0>,
		<&plat_clks S32GEN1_CLK_MC_CGM0_MUX3>,
		<&plat_clks S32GEN1_CLK_MC_CGM0_MUX4>,
		<&plat_clks S32GEN1_CLK_MC_CGM0_MUX5>,
		<&plat_clks S32GEN1_CLK_MC_CGM0_MUX7>,
		<&plat_clks S32GEN1_CLK_MC_CGM0_MUX8>,
		<&plat_clks S32GEN1_CLK_MC_CGM0_MUX12>,
		<&plat_clks S32GEN1_CLK_MC_CGM0_MUX14>,
		<&plat_clks S32GEN1_CLK_MC_CGM0_MUX16>,
		<&plat_clks S32GEN1_CLK_PER>,
		<&plat_clks S32GEN1_CLK_XBAR_2X>,
		<&plat_clks S32GEN1_CLK_FTM0_REF>,
		<&plat_clks S32GEN1_CLK_FTM1_REF>,
		<&plat_clks S32GEN1_CLK_CAN_PE>,
		<&plat_clks S32GEN1_CLK_LIN_BAUD>,
		<&plat_clks S32GEN1_CLK_SPI>,
		<&plat_clks S32GEN1_CLK_QSPI_2X>,
		<&plat_clks S32GEN1_CLK_SDHC>;
	assigned-clock-parents =
		<&plat_clks S32GEN1_CLK_ARM_PLL_DFS1>,
		<&plat_clks S32GEN1_CLK_PERIPH_PLL_PHI1>,
		<&plat_clks S32GEN1_CLK_PERIPH_PLL_PHI1>,
		<&plat_clks S32GEN1_CLK_PERIPH_PLL_PHI1>,
		<&plat_clks S32GEN1_CLK_PERIPH_PLL_PHI2>,
		<&plat_clks S32GEN1_CLK_PERIPH_PLL_PHI3>,
		<&plat_clks S32GEN1_CLK_PERIPH_PLL_DFS1>,
		<&plat_clks S32GEN1_CLK_PERIPH_PLL_DFS3>,
		<&plat_clks S32GEN1_CLK_PERIPH_PLL_PHI7>;
	assigned-clock-rates =
		<0>,
		<0>,
		<0>,
		<0>,
		<0>,
		<0>,
		<0>,
		<0>,
		<0>,
		<80000000>,
		<0>,
		<40000000>,
		<40000000>,
		<80000000>,
		<125000000>,
		<100000000>,
		<400000000>,
		<400000000>;

	clocks = <&plat_clks S32GEN1_CLK_XBAR_2X>,
		<&plat_clks S32GEN1_CLK_SERDES_REF>,
		<&plat_clks S32GEN1_CLK_PER>,
		<&plat_clks S32GEN1_CLK_FTM0_REF>,
		<&plat_clks S32GEN1_CLK_FTM1_REF>,
		<&plat_clks S32GEN1_CLK_CAN_PE>,
		<&plat_clks S32GEN1_CLK_LIN_BAUD>,
		<&plat_clks S32GEN1_CLK_SPI>,
		<&plat_clks S32GEN1_CLK_SDHC>,
		<&plat_clks S32GEN1_CLK_QSPI_2X>;
};

&cmu {
	compatible = "nxp,s32g3-cmu";
};

&qspi {
	compatible = "nxp,s32g3-qspi", "nxp,s32cc-qspi";
};

&siul2_0_nvram {
	compatible = "nxp,s32g3-siul2_0-nvram";
};

&siul2_1_nvram {
	compatible = "nxp,s32g3-siul2_1-nvram";
};
