// SPDX-License-Identifier: (GPL-2.0+ OR BSD-3-Clause)
/*
 * Copyright 2022-2023 NXP
 */

/dts-v1/;
#include "s32g.dtsi"
#include "s32g3.dtsi"
#include "s32gxxxa-rdb.dtsi"

/ {
	model = "NXP S32G399A-RDB3";
};

&gmac0_mdio {
	#address-cells = <1>;
	#size-cells = <0>;
	/* ARQ113C */
	mdio_a_phy8: ethernet-phy@8 {
		compatible = "ethernet-phy-ieee802.3-c45";
		reg = <8>;
	};
};

&pfe_netif1 {
	phy-mode = "sgmii";
	phy-handle = <&mdio_a_phy8>;
	/* workaround for ALB-10515 (remove when fixed) */
	fixed-link {
		speed = <1000>;
		full-duplex;
	};
};
